@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap");
@import "@/assets/sass/variables/_colors.scss";

body {
  margin: 0;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}



.form-item {
  height: 20px;
  background-color: $black;
  border: none;

  &:focus {
    outline: none;
  }
}

.fav-icon {
  height: 14px;
}